html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
:root {
  --primary-text-color: #757575;
  --titel-text-color: #212121;
  --link-text-color: #2196f3;
  --primary-bg-color: #ffffff;
  --typikal-margin: 30px;
}
* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  box-sizing: border-box;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}
img {
  display: block;
}
ul,
ol {
  margin: 0px;
  padding-left: 0px;
}
button {
  cursor: pointer;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
body {
  font-family: 'Roboto', sans-serif;
  color: var(--primary-text-color);
  background-color: #ffffff;
  letter-spacing: 0.03em;
}
h1 {
  text-transform: uppercase;
}
.list,
.filtr {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.link,
.nav-link,
.footer-link {
  text-decoration: none;
}
.logo {
  color: var(--titel-text-color);
  font-family: 'Raleway';

  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.header {
  padding-top: 24px;
  padding-bottom: 25px;
}
.heder-logo {
  color: #2196f3;
}

.header-link,
.nav-link,
.section .section-title {
  color: var(--titel-text-color);
}
.section-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;

  text-transform: uppercase;
}
.singularity {
  padding: 94px 15px 94px 15px;
}
.singularity-text {
  font-size: 14px;
  line-height: 1.71;
}
.about {
  padding: 0px 15px 94px 15px;
}

.about-title {
  color: var(--titel-text-color);
  padding-bottom: 50px;
  padding-top: 94px;
  margin-left: auto;
  margin-right: auto;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.about-list {
  padding-bottom: 94px;
}
.nav-link,
.header-mail,
.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.nav-link:hover,
.nav-link:focus,
.footer-link:hover,
.footer-link:focus {
  color: var(--link-text-color);
}
.header-adress a {
  color: var(--primary-text-color);
}
.header-adress a:hover,
.header-adress a:focus {
  color: var(--link-text-color);
}
.current {
  color: var(--link-text-color);
}
.header-nav .current {
  color: var(--link-text-color);
}
.hero {
  background-color: #2f303a;
  text-align: center;
}

.hero-title {
  color: #ffffff;
  margin-top: 0px;
  margin-bottom: 30px;
  padding: 200px 250px 30px 250px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  letter-spacing: 0.06em;
}
.hero-button {
  display: inline-block;
  font-family: inherit;
  color: var(--primary-bg-color);
  background-color: var(--link-text-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  letter-spacing: 0.06em;
  min-width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 200px;
  border-radius: 4px;
  padding: 10px 32px;
  text-align: center;
  border: 1px solid transparent;
}
.section-team {
  background-color: #f5f4fa;
}
.names-img {
  padding-bottom: var(--typikal-margin);
}

.names-titel {
  color: var(--titel-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  padding-bottom: 10px;
}
.worker-text {
  line-height: 1.19;
  text-align: center;
  padding-bottom: var(--typikal-margin);
}

.footer {
  background-color: #2f303a;
}
.footer-link {
  color: rgba(255, 255, 255, 0.6);

  font-size: 14px;
  line-height: 1.71;
}
.footer-logo {
  color: #ffffff;
  font-family: 'Raleway';

  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.address {
  font-style: inherit;
  color: #ffffff;

  font-size: 14px;
  line-height: 1.71;
}

.filtr a {
  color: #212121;
  background-color: #f5f4fa;
}
.filtr:hover,
.filtr:focus {
  color: var(--primary-bg-color);
  background-color: var(--link-text-color);
}
.filtr.current,
.filtr.current a {
  color: var(--primary-bg-color);
  background-color: var(--link-text-color);
}
.filtr {
  font-family: inherit;
  color: var(--titel-text-color);
  font-size: 16px;

  font-weight: 500;

  line-height: 1.62;
}
.filtr-list {
  margin-bottom: 50px;
}
.portfolio-title {
  color: var(--titel-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}
.portfolio-text {
  color: var(--primary-text-color);

  line-height: 1.88;
}
